<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-square-x-twitter"></i>

        </div>
        <div class="f-info-brand"> &copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>

            <a href="/contact">contact</a>

        </div>
    </div>
</footer>